**Excercise 1: Mailing Address**

In [ ]:
def mailingaddress():
  print("Yogesh Tak")
  print("C-89, Hello Vihar")
  print("Jodhpur")
  print("Rajasthan - 278722")

mailingaddress()

Yogesh Tak
C-89, Hello Vihar
Jodhpur
Rajasthan - 278722

**Excercise 2: Hello**

In [ ]:
def hello():
  while 
  name = input("What's your name?")
  print(f"Hello, {name}")

hello()

What's your name?Yogesh
Hello, Yogesh

In [ ]:
#if we don't want people to enter any kind of number
def hello1():
  while True:
    name = input("What's your name?")
    if not name.isalpha():
      print("Please enter a valid name with english letters")
    else:
      break 
  print(f"Hello, {name}")
    
hello1()

What's your name?45
Please enter a valid name with english letters
What's your name?3
Please enter a valid name with english letters
What's your name?Yogesh
Hello, Yogesh

**Excercise 3: Area of a Room**

In [ ]:
def areaofroom():
  length = float(input("Enter length in meters:"))
  width = float(input("Enter width in meters:"))
  area = length*width
  print(f"Area: {round(area,2)}m\u00b2 ")

areaofroom()

Enter length in meters:45.7683
Enter width in meters:328.2131
Area: 15021.76mÂ²

**Excercise 4: Area of Field**

In [ ]:
def areainacre():
  length = float(input("enter length of field in feet:"))
  width = float(input("enter width of field in feet:"))
  area = length*width
  area_in_acre = area/43560
  print(f"Area in acre: {round(area_in_acre,2)}")

areainacre()

enter length of field in feet:6723.23
enter width of field in feet:327.9
Area in acre: 50.61

**Excercise 5: Bottle Deposits**

In [ ]:
def bottledeposits():
  small_bottle = int(input("How many containers are you holding with volume one litre or less?"))
  large_bottle = int(input("How many drink containers are you holding with volume more than one litre?"))
  print(f"You'll get refund of ${round((small_bottle*0.10)+(large_bottle*0.25),2)} if you return those containers.")

bottledeposits()

How many containers are you holding with volume one litre or less?54
How many drink containers are you holding with volume more than one litre?76
You'll get refund of $24.4 if you return those containers.

**Excercise 6: Tax and Tip**

In [ ]:
def taxandtip():
  cost = float(input("Enter cost of meal orderd at restaurant?"))
  tax = 0.10*cost
  tip = 0.18*cost
  print(f"Your Cost of Meal was: {cost}")
  print(f"Your TAX on meal is: {round(tax,2)}")
  print(f"Tip amount on meal is:{round(tip,2)}")
  print(f"Grand Total that you need to pay is: {round(cost+tax+tip,2)}")

taxandtip()

Enter cost of meal orderd at restaurant?67
Your Cost of Meal was: 67.0
Your TAX on meal is: 6.7
Tip amount on meal is:12.06
Grand Total that you need to pay is: 85.76

**Excercise 7: Sum of the First n positive integers**

In [ ]:
def sumofn():
  while True:
    n = input("Enter a positive integer?")
    try:
      val = int(n)
      if val < 0:
        print("This is not positive integer")
        continue
      break
    except ValueError:
      print("This is not an int")

  sum1 = (val*(val+1))/2
  print(f"Sum of first {val} positive numbers is: {sum1}")

sumofn()

Enter a positive integer?12
Sum of first 12 positive numbers is: 78.0

**Excercise 8: Widgets and Gizmos**

In [ ]:
def totalweight1():
  widgets = int(input("Enter number of widgets?"))
  gizmos = int(input("Enter number of Gizmos?"))
  total_w = widgets*75 + gizmos*112
  print(f"Total weight of order is {total_w} grams or {total_w/1000} KG")

totalweight1()

Enter number of widgets?54
Enter number of Gizmos?43
Total weight of order is 8866 grams or 8.866 KG

**Excercise 9: Compound interest**

In [ ]:
def compoundinterest():
  amount = float(input("Enter the amount of money you are depositing?"))
  year1 = amount + amount*0.04
  year2 = year1 + year1*0.04
  year3 = year2 + year2*0.04

  print(f"Money after Year1: {round(year1,2)}")
  print(f"Money after Year2: {round(year2,2)}")
  print(f"Money after Year3: {round(year3,2)}")

compoundinterest()

Enter the amount of money you are depositing?50000
Money after Year1: 52000.0
Money after Year2: 54080.0
Money after Year3: 56243.2

In [ ]:
#giving myself a challenge to let user input amount and year and find the money in account for all these years

def compoundinterest1():
  amount = float(input("Enter the money you are depositing in savings account?"))
  while True:
    interest_rate = float(input("Enter interest rate between 0 to 1 (ex- 0.04 is 4%)?"))
    try:
      if interest_rate > 1:
        print("Interest rate is not valid")
        continue
      break
    except ValueError:
      print("This is not valid")

  years = int(input("Enter the number of years?"))
  
  total_amount = amount

  for x in range(1,years+1):
    total_amount = total_amount + total_amount*interest_rate
    print(f"Money after Year{x}: {round(total_amount,2)}")

  
compoundinterest1()

Enter the money you are depositing in savings account?5000
Enter interest rate between 0 to 1 (ex- 0.04 is 4%)?0.09
Enter the number of years?11
Money after Year1: 5450.0
Money after Year2: 5940.5
Money after Year3: 6475.15
Money after Year4: 7057.91
Money after Year5: 7693.12
Money after Year6: 8385.5
Money after Year7: 9140.2
Money after Year8: 9962.81
Money after Year9: 10859.47
Money after Year10: 11836.82
Money after Year11: 12902.13

**Excercise 10: Arithmetic**

In [ ]:
def excercise10():
  a = int(input("Enter a number?"))
  b = int(input("Enter another number?"))
  print(f"Sum of these two numbers is: {round(a+b,2)}")
  print(f"Difference of these two numbers is: {round(a-b,2)}")
  print(f"Product of these two numbers is: {round(a*b,2)}")

excercise10()

Enter a number?5
Enter another number?6
Sum of these two numbers is: 11
Difference of these two numbers is: -1
Product of these two numbers is: 30

In [ ]:
def excercise10_():
  a = int(input("Enter a number?"))
  b = int(input("Enter another number?"))
  print(f"Sum of these two numbers is: {round(a+b,2)}")
  print("NEXT IS DIFFERENCE LARGER NUMBER - SMALLER NUMBER")
  if a > b:
    print(f"Difference of these two numbers is: {round(a-b,2)}")
  if b > a:
    print(f"Difference of these two numbers is: {round(b-a,2)}")
  print(f"Product of these two numbers is: {round(a*b,2)}")
  print(f"The quotient when a is divided by b: {a//b}")
  print(f"The remainder when a is divided by b: {a%b}")
  import math
  print(f"result of log with base 10 a:{math.log(a,10)}")
  print(f"a with power b: {a**b}")

excercise10_()

Enter a number?5
Enter another number?6
Sum of these two numbers is: 11
NEXT IS DIFFERENCE LARGER NUMBER - SMALLER NUMBER
Difference of these two numbers is: 1
Product of these two numbers is: 30
The quotient when a is divided by b: 0
The remainder when a is divided by b: 5
result of log with base 10 a:0.6989700043360187
a with power b: 15625

**Excercise 11: Fuel Efficiency**

In [ ]:
def mpglp100():
  us = float(input("Enter the fuel effieciency in miles per gallon?"))
  kmpergallon = us*1.6
  gallon_per100km = 100/kmpergallon
  ca = gallon_per100km*3.78
  print(f"In canada fuel efficiency is {round(ca,2)}L/per100km")

mpglp100()

Enter the fuel effieciency in miles per gallon?4.2
In canada fuel efficiency is 56.25L/per100km

**Excercise 12: Distance between two points on earth**

In [ ]:
def distancepoint():
  import math
  firstpoint_lat, firstpoint_lon = map( float, input("Enter latitude and longitude in this order with (,) separator for first point?").split(","))
  secondpoint_lat, secondpoint_lon = map(float, input("Enter latitude and longitude in this order with (,) separator for first point?").split(",")) 
  #converting degree to radian
  firstpoint_lat_r , firstpoint_lon_r = math.radians(firstpoint_lat), math.radians(firstpoint_lon)
  secondpoint_lat_r , secondpoint_lon_r = math.radians(secondpoint_lat), math.radians(secondpoint_lon)
  distance = 6371.01*math.acos(math.sin(firstpoint_lat_r)*math.sin(secondpoint_lat_r)+math.cos(firstpoint_lat_r)*math.cos(secondpoint_lat_r)*math.cos(firstpoint_lon_r-secondpoint_lon_r))
  print(f"Distance between these two points is {round(distance,2)}KM")

distancepoint()

Enter latitude and longitude in this order with (,) separator for first point?50.03, 05.42
Enter latitude and longitude in this order with (,) separator for first point?45.32,67.32
Distance between these two points is 4530.04KM

**Excercise 13: Change of Coins**

In [ ]:
#In India we have 10 rupee coin, 5 rupee coin, 2 rupee coin and 1 rupee coin
#Aim is to build a program that takes amount of money and will give you lowest number of coins to give in exchange
def coin():
  money = int(input("Enter the amount of money?"))
  ten_coin = money // 10
  five_coin = (money - ten_coin*10) // 5
  two_coin = (money - ((ten_coin*10)+(five_coin*5))) // 2
  one_coin =  money - ((ten_coin*10)+(five_coin*5)+(two_coin*2))
  print(f"Number of Ten Coins: {ten_coin}")
  print(f"Number of Five Coins: {five_coin}")
  print(f"Number of Two Coins: {two_coin}")
  print(f"Number of One Coins:{one_coin}")

coin()

Enter the amount of money?42
Number of Ten Coins: 4
Number of Five Coins: 0
Number of Two Coins: 1
Number of One Coins:0

**Excercise 14: Height Conversion**

In [ ]:
def height_conversion():
  ft , inch = map(float, input("Enter your height in ft'inch eg (5'7)?").split("'"))
  total_inch = inch + ft*12
  total_cm = total_inch*2.54
  print(f"Your height in CM is {total_cm}cm")

height_conversion()

Enter your height in ft'inch eg (5'7)?5'7
Your height in CM is 170.18cm

**Excercise 15: Distance Units**

In [ ]:
def distanceunits():
  xyz = False
  while xyz == False:
    ft = input("Enter distance in feet: ")
    if ft.isdigit():
      xyz = True
  
  ft = float(ft)
  inches = ft*12
  miles = ft*0.000189394
  yards = ft*0.333333

  print(f"Distance in inches: {inches}")
  print(f"Distance in miles: {miles}")
  print(f"Distance in yards: {yards}")

distanceunits()

Enter distance in feet: h
Enter distance in feet: 6
Distance in inches: 72.0
Distance in miles: 0.001136364
Distance in yards: 1.999998

**Excercise 16:  Area and Volume**

In [ ]:
def area():
  xyz = False
  
  while xyz == False:
    radius = input("Enter radius to find area of circle and volume of sphere:")
    if radius.isdigit():
      xyz = True
  
  import math
  radius = int(radius)
  area_circle = math.pi*(radius**2)
  volume_sphere = (4/3)*(math.pi)*(radius**3)

  print(f"Area of Circle with radius{radius}unit is: {area_circle}")
  print(f"Volume of sphere with radius{radius}unit is: {volume_sphere}")

area()

Enter radius to find area of circle and volume of sphere:56
Area of Circle with radius56unit is: 9852.03456165759
Volume of sphere with radius56unit is: 735618.5806037667

**Excercise 17: Heat Capacity**

In [ ]:
def heatcapacity():

  xyz = False
  while xyz == False:
    initial_temp = input("Enter initial temperature of water in degree celcius:")
    if initial_temp.isalpha() == False:
      initial_temp = float(initial_temp)
      xyz = True

  abc = False
  while abc == False:
    final_temp = input("Enter final temperature of water in degree celcius:")
    if final_temp.isalpha() == False:
      final_temp = float(final_temp)
      abc = True
  
  lmn = False
  while lmn == False:
    mass = input("Enter mass of water in grams:")
    if mass.isalpha() == False:
      mass = float(mass)
      lmn = True

  #DIFFERENCE IN TEMPERATURE
  diff_temp = final_temp - initial_temp

  energy = mass*4.186*diff_temp
  energy_kwh = energy*0.0000002778
  cost_energy = energy_kwh*0.089
  print(f"Energy required to go from {initial_temp} degree celcius to {final_temp} degree celcius is: {energy} J")
  print(f"With 8.9 cents per Kilo Watt hour rate, It would cost you {cost_energy}USD")

heatcapacity()

Enter initial temperature of water in degree celcius:10
Enter final temperature of water in degree celcius:100
Enter mass of water in grams:250
Energy required to go from 10.0 degree celcius to 100.0 degree celcius is: 94185.0 J
With 8.9 cents per Kilo Watt hour rate, It would cost you 0.002328648777USD

In [ ]:
`
`